.App {
  text-align: center;
  &-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9C27B0;
    padding: 0 20px;
    color: white;
  }

  &-title {
    font-size: 2em;
  }
}

